@(metas: List[Meta], metaForm: Form[Meta], metasConcluidas: List[Integer], metasPendentes: List[Integer], metasNaSemana: List[Integer])

@import helper._

@main("Organizador de Metas") {
	
    <div class="container">
    
    	<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#cadastraMeta" role="tab" data-toggle="tab">Nova Meta</a></li>
		  <li class="dropdown">
	        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"> Escolha a Semana <span class="caret"></span></a>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
	          <li><a href="#semana1" tabindex="-1" role="tab" data-toggle="tab">Semana 1</a></li>
	          <li><a href="#semana2" tabindex="-1" role="tab" data-toggle="tab">Semana 2</a></li>
	          <li><a href="#semana3" tabindex="-1" role="tab" data-toggle="tab">Semana 3</a></li>
	          <li><a href="#semana4" tabindex="-1" role="tab" data-toggle="tab">Semana 4</a></li>
	          <li><a href="#semana5" tabindex="-1" role="tab" data-toggle="tab">Semana 5</a></li>
	          <li><a href="#semana6" tabindex="-1" role="tab" data-toggle="tab">Semana 6</a></li>
	        </ul>
	      </li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Formulario de cadastros -->
			<div class="page-header">
			  <h1>Organizador de Metas <small></small></h1>
			</div>
		  <div class="tab-pane active" id="cadastraMeta"><h3>Fazer Cadastro</h3><br>
		  @form(routes.Application.addMeta){
		  	@inputText(metaForm("descricao"),
		  		'_label -> "Descricao da Meta", 
		  		'placeholder -> "Descricao",
		  		'class -> "form-control",
		  		'type -> "text"
		  		)
		  	@select(metaForm("prioridade"), options = options(
		  		"" -> "Prioridade",
                "1" -> "1",
	            "2" -> "2",
	            "3" -> "3",
	            "4" -> "4",
	            "5" -> "5"
                ),
                '_label -> "Prioridade da Meta (1 = Menor Prioridade)"
        	)
			@select(metaForm("semana"), options = options(
				""  -> "Semana",
                "1" -> "1",
	            "2" -> "2",
	            "3" -> "3",
	            "4" -> "4",
	            "5" -> "5",
	            "6" -> "6"
                ),
                'class -> "dropdown",
                '_label -> "Semana da Meta"
       		 )
			<input type="submit" value="Adicionar" class="btn btn-success"">
		  }
		  
		  </div>
		  @for(cont <- 1 to 6){
		  	<!-- Primeira semana -->
		  <div class="tab-pane" id="semana@cont">
		  	<br>
		  		<table class="table">
			  		<thead class="table">
		              <tr>
		                <th>Meta <small style="color: #00CC00">@metasConcluidas.get(cont-1)</small>/<small style ="color: #D11919">@metasPendentes.get(cont-1)</small>/<small>@metasNaSemana.get(cont-1)</small></th>
		                <th>Prioridade</th>
		                <th>Concluir</th>
		                <th>Cancelar</th>
		              </tr>
		            </thead>
		              	
		            <tbody>
		            
			  			@for(meta <- metas){
			  				@if(meta.getSemana() == cont){
			  					@if(meta.getSituacao().equals("concluida")){
			  						<tr class = "success">
						              <td>@meta.getDescricao()</td>
						              <td>@meta.getPrioridade()</td>
						              <td> </td> 
						              	<td>@form(routes.Application.removeMeta(meta.getId())){
						              		<input type="submit" value= "Cancelar">
						              	}</td>
						             </tr>
						             }
						         @if(meta.getSituacao().equals("pendente")){
						         	<tr class = "danger">
						              <td>@meta.getDescricao()</td>
						              <td>@meta.getPrioridade()</td>
						              <td>@form(routes.Application.doneMeta(meta.getId())) {
						              	<input type="submit" value="Concluido">
						              	}</td> 
						              	<td>@form(routes.Application.removeMeta(meta.getId())){
						              		<input type="submit" value= "Cancelar">
						              	}</td>
						             </tr>
						         }
			  					
			  				}
			  			}	
		            
		            </tbody>
			  	</table>
		  </div>
		  }
}